common:
    gnss_topic:  "/gps/fix"
    map_frame:  "map"
    lidar_frame:  "lidar"

mapping:
    # for backend
    keyframe_add_dist_threshold: 1
    keyframe_add_angle_threshold: 0.2
    recontruct_kdtree: true
    ikdtree_reconstruct_keyframe_num: 10    # the smaller, the worse
    ikdtree_reconstruct_downsamp_size: 0.1

    # for add GNSS factor
    pose_cov_threshold: 0
    gnssValidInterval: 0.1
    gpsCovThreshold: 2
    useGpsElevation: true

    # for loop closure
    loop_closure_interval: 300
    loop_closure_enable_flag: true
    loop_keyframe_num_thld: 50
    loop_closure_search_radius: 3
    loop_closure_keyframe_interval: 30
    keyframe_search_num: 20
    loop_closure_fitness_score_thld: 0.1
    icp_downsamp_size: 0.1
    manually_loop_vaild_period: [0, 1]
    odom_loop_vaild_period: []
    scancontext_loop_vaild_period: [0, 1]

    # lidar -> gnss
    extrinsic_gnss_T: [ 0, 0, 0 ]
    extrinsic_gnss_R: [ 1, 0, 0, 
                        0, 1, 0, 
                        0, 0, 1 ]

scan_context:
    lidar_height: 2
    sc_dist_thres: 0.13

publish:
    path_en:  true
    scan_publish_en:  true       # false: close all the point cloud output
    dense_publish_en: true       # false: low down the points number in a global-frame point clouds scan.
    showOptimizedPose: true
    globalMapVisualizationSearchRadius: 1000
    globalMapVisualizationPoseDensity: 3
    globalMapVisualizationLeafSize: 0.2

official:
    save_globalmap_en: true
    save_resolution: 0.2
    save_keyframe_en: true
    save_keyframe_descriptor_en: false
    map_path: "/home/will/tmp/"

    save_pgm: true
    pgm_resolution: 0.05
    min_z: 0.0
    max_z: 1.0

